polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.accounts.user-administration") {
        if (subject.isInGroup("deploy")) {
            return polkit.Result.YES;
        }
    }
});
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units") {
        if (subject.isInGroup("deploy")) {
            return polkit.Result.YES;
        }
    }
});



