[Unit]
Description=APPS - Bash hello world
After=network.target

[Service]
User=deploy
Group=deploy
Type = forking
ExecStart = /opt/applications/bash-hello-world/service.sh start
ExecStop = /opt/applications/bash-hello-world/service.sh stop
ExecReload = /opt/applications/bash-hello-world/service.sh reload

[Install]
WantedBy=default.target